html,
body {
  padding: 0;
  margin: 0;
  background-color: #262833;
  font-family: Montserrat;
}

.title {
  color: white;
  text-align: center;
}

.description {
  color: #e7e7e7;
  text-align: center;
}

.questions-container {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50vw;
  margin-top: 50px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.submit-button {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-around;
  background-color: #7e8ce0;
  border-radius: 15px;
  justify-self: self-end;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  color: white;
  font-weight: 600;
}

.submit-button:hover {
  color: #262833;
}

.submit-button:hover .arrow {
  color: #262833 !important;
}

.arrow {
  color: white;
  font-size: 25px;
  transition: all 0.6s ease-in-out;
}
